.pagina-galeria {
    display: flex;
    justify-content: center;
}

.contenedor-galeria {
    width: 90%;
}

.botones-galeria {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}

.color-boton-estandar {
    background-color: #4e4e4e;
    padding: 20px;
    margin: 0px 10px;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.color-boton-estandar:hover {
    background-color: #080808;
}

.boton-target {
    background-color: #080808;
    padding: 20px;
    margin: 0px 10px;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
}